.App-header, .App-Description, .App-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-Description, .App-Form{
  padding: 100px 0px;
}

.App-Boxes{
  padding: 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer{
  text-align: center;
}



